*{
    padding: 0;
    margin: 0;
}

.boxes::after{
    content : "after the div";
    color : blue;
}

.boxes::before{
    content : "before the div";
    color: rgb(39, 101, 154);
}

.box:first-child{
    color: red;
}

.box::first-letter{
    text-transform: uppercase;
}

::selection{
    background-color: aquamarine;
    color: yellowgreen;
}